GA & NA using node-red.json
[{"id":"28068d09.faf272","type":"inject","z":"7d344e4f.1b809","name":"Toilet 0","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":122.89585494995117,"y":96.88894271850586,"wires":[["9c80155c.438a58"]]},{"id":"51c48e7d.f5d2e","type":"http request","z":"7d344e4f.1b809","name":"","method":"POST","ret":"txt","url":"","tls":"","x":732.9028549194336,"y":286.62512588500977,"wires":[["7c911726.4985e8"]]},{"id":"7c911726.4985e8","type":"debug","z":"7d344e4f.1b809","name":"","active":true,"console":"false","complete":"false","x":894.8994598388672,"y":286.83689403533936,"wires":[]},{"id":"1ceed821.7cc0b8","type":"oM2M-Data-ContentInstance","z":"7d344e4f.1b809","xSCL":"5dc91f6d.90592","xA":"fdef5721.791218","obixCategory":"","x":538.826470375061,"y":286.56954860687256,"wires":[["51c48e7d.f5d2e"]]},{"id":"ba9636b4.46bd08","type":"inject","z":"7d344e4f.1b809","name":"Oval 0","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":114.89589309692383,"y":319.88894271850586,"wires":[["fb500026.29ca2"]]},{"id":"929722ef.2fe37","type":"inject","z":"7d344e4f.1b809","name":"Tooth brush 1","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.84030151367188,"y":158.96182441711426,"wires":[["9c80155c.438a58"]]},{"id":"b7ab2ef1.5b81f","type":"inject","z":"7d344e4f.1b809","name":"Cleanser 2","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.84029769897461,"y":214.965313911438,"wires":[["9c80155c.438a58"]]},{"id":"a93b9c30.f074c","type":"inject","z":"7d344e4f.1b809","name":"Back Forward 1","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":122.89583206176758,"y":378.88890647888184,"wires":[["fb500026.29ca2"]]},{"id":"df2189c3.0d9458","type":"inject","z":"7d344e4f.1b809","name":"Slow 2","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":120.89582824707031,"y":438.8888854980469,"wires":[["fb500026.29ca2"]]},{"id":"9c80155c.438a58","type":"function","z":"7d344e4f.1b809","name":"Object Data","func":"msg.topic = 'Object Data'\n\nreturn msg;","outputs":1,"noerr":0,"x":309.83681869506836,"y":163.8889045715332,"wires":[["dc40bb7e.fd1328"]]},{"id":"10ca83e6.050e8c","type":"debug","z":"7d344e4f.1b809","name":"","active":true,"console":"false","complete":"false","x":525.8333587646484,"y":200.90280723571777,"wires":[]},{"id":"dc40bb7e.fd1328","type":"function","z":"7d344e4f.1b809","name":"","func":"var a=0,b=0\nif (msg.topic === 'Object Data') {\n  a = msg.payload;\n} \nif (msg.topic === 'Action Data') {\n  b = msg.payload;\n}\n\nmsg.payload = a + \",\" + b \n\n\nvar data = {\n    type:'string',\n    data:msg.payload\n};\nmsg.payload = JSON.stringify(data);\n\nreturn msg;","outputs":1,"noerr":0,"x":343.8298797607422,"y":288.1007080078125,"wires":[["10ca83e6.050e8c","1ceed821.7cc0b8"]]},{"id":"fb500026.29ca2","type":"function","z":"7d344e4f.1b809","name":"Action Data","func":"msg.topic = 'Action Data'\n\nreturn msg;","outputs":1,"noerr":0,"x":317.8402900695801,"y":386.10071182250977,"wires":[["dc40bb7e.fd1328"]]},{"id":"2be36cb3.5f5534","type":"inject","z":"7d344e4f.1b809","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149.89586639404297,"y":555.1111106872559,"wires":[["e257f1e5.498"]]},{"id":"3fc4afb8.14e91","type":"http request","z":"7d344e4f.1b809","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8080/om2m/nscl/applications/MY_APPLICATION/containers/DATA/contentInstances/subscriptions","tls":"","x":561.9027976989746,"y":558.8471994400024,"wires":[["ef61b357.3d9aa"]]},{"id":"ef61b357.3d9aa","type":"debug","z":"7d344e4f.1b809","name":"","active":true,"console":"false","complete":"statusCode","x":777.8993721008301,"y":561.0589981079102,"wires":[]},{"id":"e257f1e5.498","type":"oM2M-Subscription","z":"7d344e4f.1b809","xSCL":"7382268e.92cb68","xA":"fccd4bec.73fbc8","contactPath":"/notification","filterType":"","filterCriteria":"content","x":342.8264579772949,"y":558.8645601272583,"wires":[["3fc4afb8.14e91"]]},{"id":"6bab90af.fdc0d","type":"http in","z":"7d344e4f.1b809","name":"","url":"/notification","method":"post","swaggerDoc":"","x":157.89586639404297,"y":645.1111106872559,"wires":[["21997a4b.fe28e6","f0bb6764.303f88"]]},{"id":"f0bb6764.303f88","type":"xml","z":"7d344e4f.1b809","name":"","attr":"","chr":"","x":369.89933013916016,"y":643.4721727371216,"wires":[["656e2835.bd1878","10d3e412.87a3bc"]]},{"id":"656e2835.bd1878","type":"function","z":"7d344e4f.1b809","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":534.8889541625977,"y":645.7499990463257,"wires":[["28d139a8.69db16","e4c8d924.0a93f8"]]},{"id":"e4c8d924.0a93f8","type":"debug","z":"7d344e4f.1b809","name":"","active":true,"console":"false","complete":"false","x":728.8924331665039,"y":640.9027452468872,"wires":[]},{"id":"21997a4b.fe28e6","type":"http response","z":"7d344e4f.1b809","name":"","x":372.8993225097656,"y":714.1839971542358,"wires":[]},{"id":"28d139a8.69db16","type":"file","z":"7d344e4f.1b809","name":"","filename":"C:\\Users\\cheng\\Desktop\\notification.xml","appendNewline":true,"createDir":false,"overwriteFile":"false","x":807.8854751586914,"y":714.4964952468872,"wires":[]},{"id":"10d3e412.87a3bc","type":"debug","z":"7d344e4f.1b809","name":"","active":true,"console":"false","complete":"false","x":458.8958511352539,"y":819.2222557067871,"wires":[]},{"id":"5dc91f6d.90592","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"fdef5721.791218","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"},{"id":"7382268e.92cb68","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"fccd4bec.73fbc8","type":"xA","z":"","appId":"MY_APPLICATION","contactUrl":"localhost:1880"}]